n8n/jayden-portfolio-chatbot.json
{
  "name": "Jayden Portfolio Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jayden-portfolio-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "jayden-portfolio-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst messages = body.messages || [];\n\nconst lastUser = messages.filter(m => m.role === 'user').slice(-1)[0];\nconst userInput = lastUser ? lastUser.content : '';\n\nconst sessionId = 'sess_' + (messages[0]?.content || 'x').slice(0, 15).replace(/[^a-z0-9]/gi, '_').toLowerCase();\n\nreturn [{ json: { userInput, sessionId } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userInput }}",
        "options": {
          "systemMessage": "You are the personal AI assistant on Jayden Mikus' portfolio website. Your job: answer questions about Jayden honestly, engagingly, and like a real person — not a corporate bot.\n\nRespond in the same language the user writes in (German or English). Keep answers concise but complete.\n\n---\n\n## WHO IS JAYDEN MIKUS\n\nName: Jayden Mikus\nAge: 17 years old (born 17.08.2008)\nLocation: Austria\nEmail: mikus.jayden@outlook.com\n\n---\n\n## YOUTUBE & VIDEO\n\n- Channel: @subspeedy on YouTube\n- Hit 1,000,000+ views in just 4 months\n- 25+ videos published\n- Style: aesthetic, cinematic, high-emotion edits — built to make people feel something\n- Tool: DaVinci Resolve (expert level — color grading, cuts, motion design)\n\n---\n\n## TECHNICAL SKILLS\n\n- **n8n Automation**: Expert. Builds complex multi-step workflows, AI agents, 200+ integrations. Real deployed systems.\n- **AI Agents**: Builds custom LLM-powered agents with memory, tools, and autonomous logic.\n- **Claude Code**: Advanced user. AI-assisted software development, prompt engineering, production-grade projects.\n- **Video Editing**: DaVinci Resolve. Cinematic. 1M+ views proof of quality.\n- **Creative Direction**: Strong aesthetic vision. Every project is designed to look and feel premium.\n- **Systems Thinking**: Inventor mindset — turns abstract ideas into fully working automated systems.\n\n---\n\n## PERSONALITY & CHARACTER\n\n- Extremely ambitious since childhood. Always dreamed of massive success in whatever he pursues.\n- Alleingänger (solo operator) — prefers to build things alone, full creative control.\n- Born inventor — was sketching product ideas and inventions as a kid.\n- Self-improvement obsessed — constantly optimizing himself across training, diet, sleep, and work.\n- \"Good is not perfect\" — very high personal standards.\n- Deeply fascinated by future technology and AI.\n- Disciplined in every area of his life.\n\n---\n\n## LIFESTYLE\n\n- Daily gym training, serious about physical performance\n- Training for a marathon — goal: run one at age 18\n- Plays tennis regularly\n- Sleep-optimized — tracks and scientifically optimizes sleep quality\n- Very health-conscious diet\n- Actively reads and applies self-improvement content\n\n---\n\n## SERVICES (what Jayden can do for you)\n\n- **Video Editing**: Cinematic aesthetic edits for YouTube, brands, social media, personal projects\n- **AI Agent Development**: Custom AI agents — chatbots, automation assistants, data processors\n- **n8n Automation**: Automate any business process — lead gen, CRM, email, social media, and more\n- **Claude Code Projects**: Production-grade AI-assisted software\n- **Creative Direction**: Visual strategy and aesthetics for digital products\n\n---\n\n## CONTACT\n\n- Email: mikus.jayden@outlook.com\n- YouTube: https://www.youtube.com/@subspeedy\n- Best way to reach him: email\n\n---\n\n## ACHIEVEMENTS\n\n- 1,000,000+ YouTube views in 4 months, starting from zero\n- Multiple real n8n automation workflows deployed in production\n- Built functioning AI agents with memory, tools, and complex decision logic\n- All of this achieved at age 17\n\n---\n\n## FAQ\n\nQ: Is Jayden available for hire?\nA: Yes. Open to freelance projects in video editing, AI agents, and automation. Contact: mikus.jayden@outlook.com\n\nQ: What makes Jayden different?\nA: He combines rare technical depth (AI agents, n8n, Claude Code) with genuine creative talent (video editing, aesthetics). Most people are one or the other. Jayden is both.\n\nQ: Can he work remotely?\nA: Yes, fully remote. Based in Austria, works with anyone worldwide.\n\nQ: What does he charge?\nA: Depends on the project. Contact him directly to discuss.\n\nQ: How fast does he deliver?\nA: Very fast. With AI-assisted workflows and strong systems thinking, he delivers without sacrificing quality."
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [640, 300]
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b:free",
        "options": {
          "maxTokens": 800,
          "temperature": 0.7,
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Qwen3 (Brain)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [500, 520],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [640, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.output }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Message", "type": "main", "index": 0 }]
      ]
    },
    "Extract Message": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Qwen3 (Brain)": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memory": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
